<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    .container{
        background:#F2F2F2;
        padding:20px;
        box-sizing: border-box;
    }

    .content{
        background-color: #FFF;
        padding:30px;
        box-sizing: border-box;
        max-width:900px;
        margin-left:auto;
        margin-right:auto;
        font-family: "Outfit" ,sans-serif;
    }

    .text{
        margin-top:20px;
    }

    .text p{
        font-weight: 400;
        font-size: 1rem;
        line-height:1.5
    }

    .footer{
        border-left:1px solid red;
        padding:20px;
        padding-left:40px;
        box-sizing: border-box;
        margin-top:50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
        <img src="{{siteUrl}}/medias/email-top.jpg" style="width:100%;" alt="top email" />
        <div class="text">
            <p>Bonjour,</p>
            <p>Il y a quelques mois, vous avez participé à une Rencontre Territoire Engagé de l’ADEME, et nous espérons que cet événement vous a apporté des éléments utiles pour vos projets et réflexions.</p>
            <p>Aujourd’hui, nous aimerions savoir <strong>quel impact cette rencontre a eu sur votre territoire et vos actions.</strong> Votre retour nous permettra d’évaluer l’efficacité de ces échanges et d’améliorer encore nos prochaines éditions.</p>
            <p><i>La Rencontre Territoire Engagé a-t-elle eu un impact sur vos missions au quotidien ? Avez- vous pu établir ou renforcer des collaborations avec d’autres participants ? A posteriori, quels aspects de la Rencontre vous ont semblé particulièrement utiles ? Identifiez-vous des pistes d’amélioration pour augmenter l’impact des prochains évènements ?</i></p>
            <p>Partagez votre expérience en quelques minutes, en répondant à ces 4 questions sur le site des Rencontres, dans votre <a href="{{siteUrl}}">Espace Personnel</a></p>
            <p>Votre contribution est précieuse et nous vous remercions par avance pour votre retour.</p>
            <p>Bien cordialement,</p>
            <p>L'équipe des Rencontres Territoire Engagé Transition Ecologique</p>
            <p style="border-top: 1px solid #e0e0e0;padding-top: 20px;color: #a5a5a5;">Merci de ne pas répondre à ce mail. Pour toute question relative à la plateforme, vous pouvez nous contacter à l’adresse mail suivante : rencontres.ademe@i-care-consult.com</p>
        </div>
        <div class="footer">
            <p style="font-size:1rem;margin:0px !important">
                <span style="color:#274F98;display:block;">En savoir plus sur :</span>
                <a style="text-decoration:none;color:#d13e2a;" href="{{siteUrl}}">{{siteUrl}}</a>
            </p>
        </div>
    </div>
  </div>
</body>
</html>
