<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    .container{
        background:#F2F2F2;
        padding:20px;
        box-sizing: border-box;
    }

    .content{
        background-color: #FFF;
        padding:30px;
        box-sizing: border-box;
        max-width:900px;
        margin-left:auto;
        margin-right:auto;
        font-family: "Outfit" ,sans-serif;
    }

    .text{
        margin-top:20px;
    }

    .text p{
        font-weight: 400;
        font-size: 1rem;
        line-height:1.5
    }

    .footer{
        border-left:1px solid red;
        padding:20px;
        padding-left:40px;
        box-sizing: border-box;
        margin-top:50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
        <img src="email-top.jpg" style="width:100%;" alt="top email" />
        <div class="text">
            <p>Bonjour [Prénom],</p>
            <p>Plus que 3 jours avant votre Rencontre Territoire Engagé Transition Ecologique !</p>
            <p>Voici un récapitulatif des informations importantes :</p>
            <p>Thématique de la Rencontre : [Nom de la Rencontre]<br />
            Date de la Rencontre : [Date]<br />
            Heure du début : [Heure de début] l’accueil se fera 30min avant l’heure de début de la Rencontre, merci de prévoir un peu d’avance !<br />
            Durée : [Nb jour]<br />
            Lieu de la Rencontre : [Lieu]</p>
            <p>N'oubliez pas que des ressources ont été mises à disposition sur votre Espace personnel, elles vous permettront de vous préparer au mieux pour les échanges à venir. <br />Nous tenons également à vous rappeler qu'il est essentiel de générer votre badge sur votre espace personnel avant la rencontre et de l’imprimer pour permettre votre accès à l’évènement.</p>
            <p>Pour information, il est possible que des photos soient prises durant cette Rencontre afin que l’ADEME puisse communiquer sur ces événements.</p>
            <p>Pour toute question supplémentaire, vous pouvez contacter le référent de cette rencontre : [Mail référent].</p>
            <p>Nous sommes impatients de vous y rencontrer !</p>
            <p>Bien cordialement,</p>
            <p>L'équipe des Rencontres Territoire Engagé Transition Ecologique</p>
        </div>
        <div class="footer">
            <span style="color:#274F98;display:block;">En savoir plus sur :</span>
            <a style="text-decoration:none;color:#d13e2a;" href="https://admouv-transition-industrielle.ademe.fr">admouv-transition-industrielle.ademe.fr</a>
        </div>
    </div>
  </div>
</body>
</html>
