@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --primary: #5555C3;
  --primaryBack: #F4F5FD;
  --secondary: #2C2944;
  --orange: #F28E40;
  --mentions: #707070;
}

body{
  font-family: "Outfit", sans-serif;
}

h1, h2, h3, h4, h5{
  text-wrap:balance;
  letter-spacing: .5px;
}

h2{
  color:var(--primary);
  font-weight: 600;
  font-size: 2rem;
}

span, a{
  letter-spacing: .5px;
}

p{
  line-height: 1.75em;
  color:var(--secondary);
  letter-spacing: .5px;
  margin:20px 0;
}

.boxed{
  max-width:1280px;
  margin-inline:auto;
}

.section{
  padding:60px 0;
}

.page{
  min-height:50vh;
}

.border-top{
  border-top:1px solid var(--primaryBack)
}

.link{
  color:var(--primary);
  display: inline-block;
}

.media{
  object-fit: contain;
}

.btn__small{
  padding:10px 16px;
  border-radius:10px;
  font-weight: 600;
  display:inline-block;
  text-decoration: none;
}

.btn__normal{
    padding:12px 24px;
    border-radius:10px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}

.btn__dark{
  color:#FFF;
  background: var(--primary);
}

.btn__light{
  color:var(--primary);
  background: var(--primaryBack);
}

/* INPUTS */

.input-text{
  height:45px;
  display: block;
  width:100%;
  text-indent: 10px;
  border:0px;
  background:#F2F2F2;
  border-bottom:2px solid var(--primary);
}

.input-text:focus{
  outline: none;
}