@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --primary: #5555C3;
  --primaryBack: #F4F5FD;
  --primaryThird: #D5DAFF;
  --secondary: #2C2944;
  --orange: #F28E40;
  --mentions: #707070;
}

body{
  font-family: "Outfit", sans-serif;
}

.orange{
  color:var(--orange)
}

.blued{
  background:var(--primaryBack)
}

h1, h2, h3, h4, h5{
  text-wrap:balance;
  letter-spacing: .5px;
}

h2{
  color:var(--primary);
  font-weight: 500;
  font-size: 2rem;
}

span, a{
  letter-spacing: .5px;
  font-weight: 300;
}

p{
  line-height: 1.75em;
  color:var(--secondary);
  letter-spacing: .5px;
  margin:20px 0;
  font-weight: 300;
  text-wrap:balance;
}

.boxed{
  max-width:1280px;
  margin-inline:auto;
}

.section{
  padding:60px 0;
}

.page{
  min-height:50vh;
}

.border-top{
  border-top:1px solid var(--primaryBack)
}

.link{
  color:var(--primary);
  display: inline-block;
  border:0px;
  text-decoration: underline;
  cursor:pointer;
}

.media{
  object-fit: contain;
}

.flex-end{
  justify-content: flex-end;
}

.alignright{
  text-align: right;
  justify-content: flex-end;
}

.btn__small{
  padding:10px 18px;
  border-radius:10px;
  font-weight: 500;
  display:inline-block;
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  border:0px;
  cursor:pointer;
}

.btn__normal{
    padding:12px 24px;
    border-radius:10px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;
    border:0px;
    cursor:pointer;
}

.btn__dark{
  color:#FFF;
  background: var(--primary);
  transition:.2s ease;
}

.btn__dark:hover{
  opacity: 0.65;
}

.btn__orange{
  color:#FFF;
  background: var(--orange);
  transition:.2s ease;
}

.btn__orange:hover{
  opacity: 0.65;
}

.btn__light{
  color:var(--primary);
  background: var(--primaryBack);
  transition:.2s ease;
}

.btn__light:hover{
  opacity: 0.65;
}

/* INPUTS */

.input-text, .input-mail{
  height:45px;
  display: block;
  width:100%;
  text-indent: 10px;
  border:0px;
  background:#F2F2F2;
  border-bottom:2px solid var(--primary);
  color:var(--secondary);
  font-weight: 300;
}

.input-text:focus, .input-mail:focus{
  outline: none;
}

.input-text.w50, .input-mail.w50{
  width:50%;
}

.input-select{
  width:100%;
  height:45px;
  border:0px;
  text-indent: 7px;
  appearance: none;
  -webkit-appearance: none;
  font-family: 'Outfit', sans-serif;
  background:#F2F2F2;
  border-bottom:2px solid var(--primary);
  font-size: 1rem;
  color:var(--secondary);
  position: relative;
  font-weight: 300;
}

.select{
  position: relative;
  font-weight: 300;
}

.select > span{
  font-size: 1.15rem;
  opacity: 0.35;
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  right:10px;
  pointer-events: none;
}

.input-date{
  width: 100%;
  height:45px;
  border:0px;
  border-bottom:2px solid var(--primary);
  text-indent:10px;
  background:#F2F2F2;
  color:var(--secondary);
  padding-right: 8px;
  font-weight: 300;
}

.checkbox{
  display: flex;
  align-items: flex-start;
  gap:15px;
}

.checkbox span{
  transform: translateY(-6px);
  display: block;
  line-height: 1.5em;;
}

.textarea{
  background:#F2F2F2;
  border:0px;
  width:100%;
  min-height:150px;
  padding:10px;
  font-size: 1rem;
  color:var(--secondary);
  appearance: none;
  -webkit-appearance: none;
  font-family: 'Outfit', sans-serif;
  outline:none;
  font-weight: 300;
  border-bottom:2px solid var(--primary)
}

.section-top{
  padding-top:60px;
  padding-bottom:0px;
  margin-bottom: -4px;
}

.map__image{
  width:100%;
  position: relative;
}

.map__image .france{
  width: 100%;
  opacity: 0;
}

.map{
  opacity: 0.45;
  transition:.2s ease;
}

.corse{
  position: absolute;
  bottom:1%;
  right:0%
}

.grand-est{
  position: absolute;
  top:11%;
  right:9.8%;
}

.bourgogne{
  position: absolute;
  top:29.75%;
  right:17.35%;
}

.auvergne{
  position: absolute;
  top:46%;
  right:16.9%;
}

.provence{
  position: absolute;
  top:62.65%;
  right:13.3%;
}

.occitanie{
  position: absolute;
  top:63.25%;
  left:32.15%;
}

.haut-de-france{
  position: absolute;
  top:1%;
  right:37%;
}

.normandie{
  position: absolute;
  top:12.1%;
  left:20.7%;
}

.bretagne{
  position: absolute;
  top:24.8%;
  left:1.5%;
}

.nouvelle-aquitaine{
  position: absolute;
  bottom:15%;
  left:22.1%;
}

.centre{
  position: absolute;
  bottom:49.3%;
  left:34.55%;
}

.ile-de-france{
  position: absolute;
  top:20.85%;
  left:43.8%;
}

.loire{
  position: absolute;
  top:28%;
  left:16.7%;
}

.alignend{
  align-items: flex-end;
}

.ql-container{
  height:300px !important;
  background:#F2F2F2;
  border:0px !important;
  border-bottom:2px solid var(--primary) !important;
  font-family: 'Outfit', sans-serif !important;
  color:var(--secondary);
}

.ql-container p{
  font-size:1rem !important;
}
