.Header{
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    padding:10px 0;
    border-bottom:1px solid var(--primaryBack);
    background-color: #FFF;
    z-index: 99;
}

.Menu ul{
    display:flex;
    align-items: center;
    list-style: none;
}

.Menu ul li a{
    text-decoration: none;
    color:var(--secondary);
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
}

.Menu ul li a:hover{
    text-decoration: underline;
}

.Logo{
    width:65px;
    height:auto;
    display: inline-block;
}

@media(max-width:810px){
    .Menu{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:60%;
        background:#FFF;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 25px rgba(0,0,0,0.1);
    }

    .Menu ul{
        flex-direction: column;
        align-items: flex-start;
        width:90%;
    }

    .LinkFunction{
        color:var(----primary);
        font-weight: 400;
    }
}