.Header{
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    padding:10px 0;
    border-bottom:1px solid var(--primaryBack);
    background-color: #FFF;
    z-index: 99;
}

.Menu ul{
    display:flex;
    align-items: center;
    list-style: none;
}

.Menu ul li a{
    text-decoration: none;
    color:var(--secondary);
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
}

.Menu ul li a:hover{
    text-decoration: underline;
}

.Logo{
    width:65px;
    height:auto;
    display: inline-block;
}

.MobileExit{
    display: none;
}

.MenuToggle{
    display: none;
}

.Login{
   background:var(--primaryBack);
   border-radius: 10px;
   margin-right:20px;
}

.Login:hover, .Create:hover{
    text-decoration: none !important;
    opacity: .65;
}

.Create{
    background: var(--primary);
    border-radius: 10px;
    color:#FFF !important;
}

@media(max-width:810px){
    .Menu{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#FFF;
        z-index: 9;
        box-shadow: 1px 1px 25px rgba(0,0,0,0.1);
        background:rgba(0,0,0,0.7);
    }

    .Menu{
        display: none;
    }

    .MobileExit{
        position: absolute;
        top:40px;
        right:30px;
        border:0px;
        color:var(--primary);
        display: flex !important;
        align-items: center;
        gap:4px;
        font-size: 0.95rem;
        z-index: 99;
    }

    .MobileExit span{
        font-size: 1rem;
        transform: translateY(1px);
    }

    .Menu ul{
        flex-direction: column;
        align-items: flex-start;
        width:100%;
        height:auto;
        background-color: #FFF;
        padding-top:100px;
    }

    .Menu ul li{
        width: 100%;
        border-bottom:1px solid #F2F2F2
    }

    .Menu ul li a{
        display: block !important;
        padding:15px 20px;
    }

    .LinkFunction{
        color:var(--secondary) !important;
        font-weight: 500;
        display: block;
        width: 100%;
    }

    .Menu ul li:last-child{
        border-bottom:0px;
    }

    .MenuToggle{
        position: absolute;
        top:50%;
        transform:translateY(-50%);
        right:30px;
        display: block !important;
        border:0px;
    }

    .MenuToggle span{
        font-size:1.75rem;
    }

    .ActiveMenu{
        display: block !important;
        animation: appear .1s ease forwards
    }

    @keyframes appear{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }

    /* .pf{
        border-top:1px solid var(--primaryBack);
    } */

    .Login{
        border-radius: 0px;
    }

    .Create{
        border-radius: 0px;
        color:#FFF !important
;    }

}