.Home h1{
    font-size:3.5rem;
    color:var(--primary);
    font-weight: 600;
    line-height: 1.25em;
}

.Regions{
    list-style:none;
    gap:10px;
    display: flex;
    flex-wrap: wrap;
    margin:30px 0 30px;
}

.Regions li a{
    text-decoration: none;
    color:var(--primary);
    background-color: var(--primaryBack);
    display: inline-flex;
    align-items: center;
    gap:4px;
    padding:12px 20px;
    border-radius: 8px;
}

.Regions li a span{
    font-size: 1rem;
}

.Regions li a:hover{
    color:#FFF;
    background:var(--primary)
}

.RegionLight{
    opacity: 1;
}

.Searching{
    position: relative;
}

.Searching ul{
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    list-style: none;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.07);
    background-color: #FFF;
    z-index: 5;
}

.Searching ul li a{
    text-decoration: none;
    color:var(--secondary);
    background:#FFF;
    display: block;
    padding:12px 15px;
    border-bottom:1px solid rgba(0,0,0,0.07)
}

.Searching ul li a:hover{
    background-color: #F9F9F9;
}

.Searching ul li:last-child a{
    border-bottom: 0px;
}

.BackTo{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:5px;
    background-color: var(--primaryBack);
    width:fit-content;
    color:var(--primary);
    padding:10px 15px;
    border-radius: 10px;
    margin-top:20px;
}

.BackTo span{
    font-size: .9rem;
    transform: translateY(1px);
}

.BackTo:hover{
    opacity: .65;
}

@media(max-width:810px){
    .Home h1{
        font-size:2.5rem
    }

    .Regions li a{
        text-decoration: none;
        color: var(--primary);
        background-color: var(--primaryBack);
        display: inline-flex;
        align-items: center;
        gap: 4px;
        padding: 12px 15px;
        border-radius: 8px;
        font-size: 0.95rem;
    }
}