.Login{
    background:var(--primaryBack);
    padding:100px 0;
}

.Login h1{
    font-size: 3rem;
    font-weight: 600;
    color:var(--primary);
}

.Logbox{
    width:650px;
}

.Registerbox{
    width:770px;
}

.Box{
    padding:10%;
    background-color: #FFF;
    border-radius: 18px;
    margin:30px 0;
    padding-top:5%;
}

.Success{
    line-height: 1.5em;
}

.Success strong{
    font-weight: 500;
}

.SuccessIcon{
    display: flex !important;
    margin-inline:auto;
    margin-bottom:20px;
    justify-content: center;
    align-items: center;
    width:50px;
    height: 50px;
    color:var(--primary);
    background-color: var(--primaryBack);
    border-radius: 50%;
}

@media(max-width:810px){
    .Login{
        padding:50px 0;
    }

    .Login h1{
        font-size:2rem;
        text-align: center;
    }   

    .Login h2{
        font-size:1.5rem;
    }
}