.Module{
    border:1px solid var(--primaryThird);
    padding:30px !important;
    padding-right: 60px;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    aspect-ratio:4/3;
    position: relative;
    /* min-height: 120%; */
}

.ModuleHeight{
    aspect-ratio: unset;
    min-height: 320px;
}

.Title{
    color:var(--secondary);
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.5em;
}

.Icon{
    position: absolute;
    bottom:30px;
    right:30px;
    color:#FFF;
    background:var(--primary);
    font-size: 1.2rem !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:35px;
    border-radius: 5px;
    transition:.2s ease;
}

.Icon:hover{
    opacity:0.65
}

.Theme{
    display: block;
    color:var(--secondary);
    font-size: 0.85rem;
    margin-top:5px;
    border-radius: 10px;
}

.Dispos{
    color: var(--orange) !important;
    background-color: #F28E401C;
    max-width: 65%;
    display: block;
    position: absolute;
    bottom: 30px;
    padding: 10px 10px;
    box-sizing: border-box;
    left: 25px;
    border-radius: 10px;
    font-size: .8rem;
}

.Soon{
    color:#AAA;
    background-color:#F9F9F9;
    max-width:58%;
    display: block;
    position: absolute;
    bottom:30px;
    padding: 10px 15px;
    box-sizing: border-box;
    left:30px;
    border-radius: 10px;
    font-size: 0.9rem;
}

@media(max-width:810px){
    .Module{
        padding:20px !important;
        aspect-ratio:unset;
        min-height: 200px;
    }

    .Title{
        font-size:1rem
    }

    .Icon{
        bottom:20px;
        right:20px;
        width:30px;
        height: 28px;
        font-size: 1rem !important;
    }

    .Dispos{
        left:20px
    }

    .Soon{
        left: 20px;
    }
    
}