.Session{
    background-color: var(--primaryBack);
}

.Header{
    background:#FFF;
    padding:40px;
    border-radius: 18px;
    color:var(--primary)
}

.Header h1{
    font-weight: 600;
    font-size: 3rem;
}

.Header p{
    color:var(--secondary)
}

.dayTitle{
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.25rem;
    color:var(--primary);
    background:#FFF;
    padding: 10px 15px;
    border-radius: 5px;
}

.Loading{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Loading img{
    width: 50px;
}

.Tag{
    background:var(--primary);
    color:#FFF;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    padding:6px 12px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.Region{
    background:var(--orange);
    color:#FFF;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    padding:6px 12px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.Breadcrump{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
}

.Breadcrump a{
    text-decoration: none;
    color: var(--secondary);
}

.Breadcrump span{
    font-weight: 500;
}

.Box{
    background-color: #FFF;
    padding:40px;
    border-radius: 18px;
}

.Title{
    font-weight: 500;
    font-size: 1.15rem;
    color:var(--secondary);
}

.dLabel{
    display: block;
    font-weight: 500;
    color:var(--secondary);
    font-size: 1rem;
    margin-top:-3px;
}

.dValue{
    display: block;
    color:var(--secondary);
    line-height: 1.5em;
    margin-top:5px
}

.Already{
    display: flex;
    width:fit-content;
    align-items: center;
    gap:15px;
    background:var(--primaryBack);
    border-radius: 10px;
    padding:15px;
    color:var(--primary);
    font-weight: 300;
    margin-inline: auto;
}

.additional {
    line-height: 1.75em;
    color: var(--secondary);
    letter-spacing: .5px;
    margin: 20px 0;
    font-weight: 300;
    text-wrap: balance;
}

.additional p{
    margin:10px 0;
}

.additional ul{
    list-style-position: inside;
}

.additional a{
    color:var(--primary)
}

.Already span{
    font-size: 1.20rem;
}

.Already a{
    color: var(--primary);
    font-weight: 500;
}

.Act{
    display: block;
}

.visu{
    width: 100%;
    aspect-ratio: 16/8;
    object-fit: cover;
    border-radius: 18px;
}
