.SessionBox{
    padding:20px;
    border-radius: 10px;
    background:var(--primaryBack);
    /* cursor:pointer; */
}

.Date{
    color:var(--secondary);
    display: inline-flex;
    font-size: 0.9rem;
    font-weight: 500;
}

.Region{
    color:#FFF;
    background:var(--orange);
    font-weight: 500;
    font-size: 0.9rem;
    padding:5px 10px;
    border-radius: 5px;
    max-width: 70%;
    text-align: right;
}

.Title{
    font-size: 1.15rem;
    color:var(--primary);
    font-weight: 500;
}

.Register{
    color:var(--primary);
    border:2px solid var(--primary);
    text-decoration: none;
    font-weight: 500;
    border-radius:5px;
    padding:4px 15px;
    display: inline-block;
    transition:.2s ease;
}

.Register:hover{
    opacity: 0.65;
}